discord.py
python-dotenv
wavelink
httpx
beautifulsoup4
websockets
pygelbooru
pillow
openai
imagetext-py
pycryptodome
motor
yt-dlp
ffmpeg-python
lxml
pydub
PyCharacterAI
aiogoogle
streamrip
PyMuPDF
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
g4f
quickjs
quart
quart-cors
akinator